* {
    padding: 0;
    margin: 0;
    font-family: Roboto;
}

main {
    height: 100vh;
    width: 100%;
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
}

.app-bar {
    background-color: darkblue;
}

.app-bar h3 {
    padding: 10px;
    text-align: center;
    color: white;
}

.content {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

form button {
    padding: 6px;
    margin-top: 4px;
    border-radius: 4px;
    border: none;
    background-color: red;
    color: white;
}
